<!DOCTYPE html>
<html lang="en">
   <head>
      <%- include('../partials/head'); %>
   </head>
   <body class="container">
      <header><%- include('../partials/header'); %></header>

      <main>
         <div class="row">
            <div class="col-sm-12">
               <div class="jumbotron row d-grid mx-auto">
                  <form action="/add-note" method="post" class="col">
                     <h2 class="text-muted">Create a Note</h2>
                     <br />
                     <!-- <input
                        type="hidden"
                        value="<%= projectId %>"
                        name="projectId"
                     /> -->

                     <p>Please Enter the following information :</p>
                     <div class="form-group row py-2">
                        <input
                           type="hidden"
                           id="projectId"
                           name="projectId"
                           value="<%= projectId %>"
                        />
                        <div class="col">
                           <label for="note">Note</label>
                        </div>
                        <div class="col">
                           <textarea
                              id="note"
                              class="w-75"
                              name="note"
                           ></textarea>
                        </div>
                     </div>
                     <div class="form-group row py-2">
                        <div class="col">
                           <label for="pDesc">Active Date</label>
                           <br />
                        </div>
                        <div class="col">
                           <input type="date" id="aDate" name="aDate" />
                        </div>
                     </div>
                     <br /><br />
                     <button type="submit" class="btn btn-primary">
                        Submit Note
                     </button>
                  </form>
               </div>
            </div>
         </div>
      </main>

      <footer><%- include('../partials/footer'); %></footer>
   </body>
</html>
